## HOSS Seasons, Historically

In [23]:
import pandas as pd
import glob
import os

# Get a list of all CSV files starting with 'pitcher_hoss_'
csv_files = glob.glob(os.path.join("pitcher_data", "pitchers_hoss_*.csv"))

# Read each CSV into a DataFrame and store in a list
dfs = []
for file in csv_files:
    year = file.split(".")[0].split("_")[-1]
    df = pd.read_csv(file)
    df["Year"] = year
    dfs.append(df)

# Concatenate all DataFrames into one
hoss_df = pd.concat(dfs, ignore_index=True)

pitchers_sorted = hoss_df.sort_values(by='HOSS', ascending=False)

print(pitchers_sorted[pitchers_sorted["HOSS_status"]][["Name", "Year", "BMI_z", "WAR_z", "fbv_z", "HOSS"]])

                  Name  Year     BMI_z     WAR_z     fbv_z      HOSS
457      Bartolo Colon  2003  5.271585  0.950310  1.108852  7.330748
0        Bartolo Colon  2002  5.230216  0.773286  1.322794  7.326296
1355     Bartolo Colon  2005  5.118539  0.716116  1.131298  6.965953
2749       CC Sabathia  2008  3.001701  2.618425  1.055014  6.675141
2273       CC Sabathia  2007  2.949180  2.197731  0.874771  6.021681
4196       CC Sabathia  2011  3.004935  1.691164  1.175682  5.871781
3710       CC Sabathia  2010  3.131036  1.534397  1.103633  5.769066
1809       CC Sabathia  2006  3.112429  1.253179  1.357124  5.722731
3220       CC Sabathia  2009  2.979629  1.392577  1.273897  5.646103
11325     Tarik Skubal  2025  1.355312  2.563112  1.705904  5.624327
895      Bartolo Colon  2004  5.278457 -0.832775  1.069437  5.515119
5166     Bartolo Colon  2013  5.432001  0.649656 -0.614381  5.467276
11326      Paul Skenes  2025  1.374630  1.924056  2.122723  5.421409
1356       CC Sabathia  2005  3.182375  0.398677  1.817156  5.398208
10797     Tarik Skubal  2024  1.222170  2.314989  1.734620  5.271779
8229        Lance Lynn  2019  2.380710  2.079900  0.611638  5.072249
896    Carlos Zambrano  2004  2.867997  1.022961  1.169241  5.060200
4197     Bartolo Colon  2011  5.107370 -0.384155  0.289205  5.012421
9127     Corbin Burnes  2021  1.341053  2.352194  1.196232  4.889479
6645    Jose Fernandez  2016  1.015333  2.449606  1.384410  4.849350
3223        Jon Lester  2009  1.242283  1.164979  1.076197  3.483460
3715        Jon Lester  2010  1.271949  1.155262  1.019477  3.446688

In [24]:
print(pitchers_sorted[pitchers_sorted["HOSS_status"]][["Name", "Year", "BMI", "WAR", "FBv", "HOSS"]])

                  Name  Year        BMI  WAR   FBv      HOSS
457      Bartolo Colon  2003  39.745090  4.7  92.3  7.330748
0        Bartolo Colon  2002  39.745090  4.4  92.9  7.326296
1355     Bartolo Colon  2005  39.745090  4.1  92.7  6.965953
2749       CC Sabathia  2008  34.664694  7.3  93.7  6.675141
2273       CC Sabathia  2007  34.664694  6.4  92.9  6.021681
4196       CC Sabathia  2011  34.664694  5.8  93.8  5.871781
3710       CC Sabathia  2010  34.664694  5.5  93.5  5.769066
1809       CC Sabathia  2006  34.664694  5.0  93.7  5.722731
3220       CC Sabathia  2009  34.664694  5.8  94.2  5.646103
11325     Tarik Skubal  2025  29.994667  5.5  97.4  5.624327
895      Bartolo Colon  2004  39.745090  1.4  92.6  5.515119
5166     Bartolo Colon  2013  39.745090  4.0  89.9  5.467276
11326      Paul Skenes  2025  30.042735  4.7  98.2  5.421409
1356       CC Sabathia  2005  34.664694  3.6  94.7  5.398208
10797     Tarik Skubal  2024  29.994667  5.9  96.8  5.271779
8229        Lance Lynn  2019  33.199528  6.8  94.2  5.072249
896    Carlos Zambrano  2004  33.470395  4.7  92.9  5.060200
4197     Bartolo Colon  2011  39.745090  2.3  91.7  5.012421
9127     Corbin Burnes  2021  30.619556  7.5  96.9  4.889479
6645    Jose Fernandez  2016  29.994667  6.3  95.2  4.849350
3223        Jon Lester  2009  30.305921  5.4  93.7  3.483460
3715        Jon Lester  2010  30.305921  4.9  93.3  3.446688

### HOSS Misses

In [25]:
print(pitchers_sorted[pitchers_sorted["HOSS_status"] == False][["Name", "Year", "BMI_z", "WAR_z", "fbv_z", "HOSS"]].head(20))

                  Name  Year     BMI_z     WAR_z     fbv_z      HOSS
3221  Justin Verlander  2009  0.505225  2.871962  1.827457  5.204645
6644  Noah Syndergaard  2016  0.184171  2.241568  2.453150  4.878889
9701      Carlos Rodon  2022  2.088931  1.855761  0.916449  4.861142
4670  Justin Verlander  2012  0.422727  2.956456  1.423214  4.802397
458    Carlos Zambrano  2003  2.898199  0.950310  0.921498  4.770007
1          CC Sabathia  2002  3.326336  0.294384  1.144746  4.765466
897        CC Sabathia  2004  3.326794 -0.045493  1.468654  4.749955
3711  Justin Verlander  2010  0.483243  2.292666  1.903115  4.679024
1357   Carlos Zambrano  2005  2.727221  0.779604  1.165591  4.672416
4671       CC Sabathia  2012  2.981434  1.033862  0.533073  4.548369
459         Mark Prior  2003  0.553310  2.728713  1.233755  4.515778
1358     Johan Santana  2005  0.824598  2.620754  1.028419  4.473771
460        CC Sabathia  2003  3.349939  0.261897  0.827821  4.439657
2       Curt Schilling  2002 -0.555289  3.706563  1.263444  4.414718
5651     Bartolo Colon  2014  5.290359  0.071106 -0.998330  4.363135
5167       Matt Harvey  2013 -0.290246  2.515235  2.040345  4.265334
898      Randy Johnson  2004 -0.952988  3.778448  1.435386  4.260845
4198  Justin Verlander  2011  0.435878  2.106227  1.682241  4.224346
1810        Brad Penny  2006  2.410422  0.355652  1.427668  4.193742
1811     Johan Santana  2006  0.703417  2.343032  1.145493  4.191943

In [26]:
print(pitchers_sorted[pitchers_sorted["HOSS_status"] == False][["Name", "Year", "BMI", "WAR", "FBv", "HOSS"]].head(20))

                  Name  Year        BMI  WAR   FBv      HOSS
3221  Justin Verlander  2009  28.456738  8.4  95.6  5.204645
6644  Noah Syndergaard  2016  27.962853  6.0  98.0  4.878889
9701      Carlos Rodon  2022  32.736486  6.2  95.6  4.861142
4670  Justin Verlander  2012  28.456738  6.9  94.3  4.802397
458    Carlos Zambrano  2003  33.470395  4.7  91.7  4.770007
1          CC Sabathia  2002  34.664694  3.6  92.3  4.765466
897        CC Sabathia  2004  34.664694  2.8  93.8  4.749955
3711  Justin Verlander  2010  28.456738  6.7  95.4  4.679024
1357   Carlos Zambrano  2005  33.470395  4.2  92.8  4.672416
4671       CC Sabathia  2012  34.664694  4.1  92.3  4.548369
459         Mark Prior  2003  27.271041  7.8  92.7  4.515778
1358     Johan Santana  2005  28.478009  7.1  92.4  4.473771
460        CC Sabathia  2003  34.664694  3.5  91.4  4.439657
2       Curt Schilling  2002  24.306797  9.3  92.7  4.414718
5651     Bartolo Colon  2014  39.745090  2.8  88.7  4.363135
5167       Matt Harvey  2013  26.776316  6.9  95.8  4.265334
898      Randy Johnson  2004  23.523944  9.6  93.7  4.260845
4198  Justin Verlander  2011  28.456738  6.5  95.0  4.224346
1810        Brad Penny  2006  32.861842  3.6  93.9  4.193742
1811     Johan Santana  2006  28.478009  6.7  93.1  4.191943

### Pipsqueak :(

In [29]:
pitchers_sorted = hoss_df.sort_values(by='HOSS', ascending=True)
print(pitchers_sorted[["Name", "Year", "BMI", "WAR", "FBv", "HOSS"]].head(5))

                Name  Year        BMI  WAR   FBv      HOSS
3297     Jamie Moyer  2009  23.053627  0.6  81.4 -7.001794
6717    Jered Weaver  2016  23.654863  0.1  83.0 -6.700215
2836   Tim Wakefield  2008  26.959459  1.1  72.9 -6.430352
4289  Bronson Arroyo  2011  23.120889 -1.6  87.0 -6.163739
983      Jamie Moyer  2004  23.053627 -0.2  81.6 -5.456239

### BMI

In [30]:
pitchers_sorted = hoss_df.sort_values(by='BMI', ascending=False)
pitchers_sorted[["Name", "Year", "BMI", "WAR", "FBv", "HOSS"]].head(10)

               Name  Year       BMI  WAR   FBv      HOSS
0     Bartolo Colon  2002  39.74509  4.4  92.9  7.326296
3544  Bartolo Colon  2009  39.74509  NaN   NaN       NaN
2537  Bartolo Colon  2007  39.74509  NaN   NaN       NaN
5018  Bartolo Colon  2012  39.74509  NaN   NaN       NaN
5166  Bartolo Colon  2013  39.74509  4.0  89.9  5.467276
457   Bartolo Colon  2003  39.74509  4.7  92.3  7.330748
895   Bartolo Colon  2004  39.74509  1.4  92.6  5.515119
7352  Bartolo Colon  2017  39.74509  NaN   NaN       NaN
6128  Bartolo Colon  2015  39.74509  2.5  88.3  3.365395
5651  Bartolo Colon  2014  39.74509  2.8  88.7  4.363135